

.shoppingList {
  background: linear-gradient(-90deg, #e73c7e25, #e73c7e25, #282c34, #141b2b);
  background-size: 400% 400%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  padding-top: 5vh;
}

.shoppingListDeleteAnimation{
  background: linear-gradient(-90deg, #e73c7e25, #e73c7e25, #282c34, #141b2b);
  background-size: 400% 400%;
  animation: gradient 1s;
  animation-iteration-count: 1;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 100% 100%;
  }

  50% {
    background-position: 0% 0%;
  }
}